<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steak Angkringan</title>
  </head>
  <body>
    <div class="nav-container">
      <nav class="navbar">
        <img
          src="../public/images/logo/logo_trans.png"
          alt="Logo Steak Angkringan"
          class="logo"
        />
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li>
            <a href="https://github.com/skr-g16" target="_blank">About Us</a>
          </li>
        </ul>
        <span class="hamburger">☰</span>
      </nav>
    </div>
    <!-- <button id="hamburger">☰</button> -->
    <main>
      <!-- <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->
      <div class="hero-content">
        <h2>Rasain</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere
          fugit odio impedit.
        </p>
      </div>
    </main>
    <footer>
      <p>&copy; 2022 Rasain. All rights reserved.</p>
    </footer>
  </body>
</html>
