<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steak Angkringan</title>
    <link rel="icon" type="image/png" href="/images/logo/logo_trans.png" />
  </head>
  <body>
    <div class="nav-container">
      <nav class="navbar">
        <img
          src="/images/logo/logo_trans.png"
          alt="Logo Steak Angkringan"
          class="logo"
        />
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li>
            <a href="https://github.com/skr-g16" target="_blank">About Us</a>
          </li>
        </ul>
        <label class="burger" for="burger">
          <input type="checkbox" id="burger" />
          <span></span>
          <span></span>
          <span></span>
        </label>
      </nav>
    </div>

    <!-- <main>
      <div class="hero-container">
        <img src="./images/heros/hero-image_1.jpg" alt="" class="hero-image" />
        <div class="hero-content">
          <h2>Steak Angkringan</h2>
          <p>pedagang kaki Lima rasa bintang Lima</p>
        </div>
      </div>
    </main> -->

    <footer>
      <p>&copy; 2022 Steak Angkringan. All rights reserved.</p>
    </footer>
  </body>
</html>
