<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steak Angkringan</title>
    <link rel="icon" type="image/png" href="/images/logo/logo_trans.png" />
  </head>
  <body>
    <a tabindex="1" href="#list" class="skip-link">Skip Link</a>
    <header class="nav-container">
      <nav class="navbar">
        <img
          src="/images/logo/logo_trans.png"
          alt="Logo Steak Angkringan"
          class="logo"
        />
        <ul class="nav-links">
          <li><a tabindex="3" href="index.html">Home</a></li>
          <li><a tabindex="4" href="#">Favorite</a></li>
          <li>
            <a tabindex="5" href="https://github.com/skr-g16" target="_blank"
              >About Us</a
            >
          </li>
        </ul>
        <label class="burger" for="burger" tabindex="2">
          <input type="checkbox" id="burger" />
          <span></span>
          <span></span>
          <span></span>
        </label>
      </nav>
    </header>

    <main>
      <div class="hero-container">
        <img src="./images/heros/hero-image_1.jpg" alt="" class="hero-image" />
        <div class="hero-content">
          <h2 tabindex="0">Steak Angkringan</h2>
          <p tabindex="0">Pedagang Kaki Lima <br />Rasa Bintang Lima</p>
        </div>
      </div>
      <div class="container">
        <h3 id="list" tabindex="0" class="title">List of Restaurant</h3>
        <div class="list"></div>
      </div>
    </main>

    <footer>
      <p>&copy; 2022 Steak Angkringan. All rights reserved.</p>
    </footer>
  </body>
</html>
