@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: #091523;
  width: 100%;
  height: 7em;
  position: fixed;
  z-index: 99999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
  opacity: 96%;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 9rem;
  font-size: 1.3em;
  font-weight: 500;

}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: ease-in-out 0.2s;
}

.nav-links li a:hover {
  text-decoration: none;
  color: #f23b26;
}

.logo {
  width: 90px;
  cursor: pointer;
}

/* burger */
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.hero-image {
  display: block;
  width: 100%;
}

.hero-container {
  background-color: #323232;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  position: absolute;
  color: rgb(249, 37, 37);
  z-index: 2;
}

.hero-content h2 {
  font-size: 3.5rem;
  color: #f23b26;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
}

.hero-content p {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* hero image */
@media screen and (min-width: 1200px) {
  .hero-image {
    width: 1000px;
  }
}

/* mobile */
@media screen and (max-width: 865px) {
  .burger {
    display: block;
  }

  .nav-links {
    position: fixed;
    right: -100%;
    top: 0;
    height: 60vh;
    width: 50%;
    background-color: #091523;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 1.5em;
    transition: right 0.3s ease-in-out;
  }

  .nav-links.open {
    right: 0;
  }

  .hero-content {
    position: absolute;
    bottom: 5%;
    width: 90%;
    text-align: center;
  }

  .hero-content h2 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}