/* hero image */
@media screen and (min-width: 1200px) {
  .hero-image {
    width: 1000px;
  }
}

/* mobile */
@media screen and (max-width: 865px) {
  .navbar {
    padding: 3em;
  }

  .burger {
    display: block;
  }

  .nav-links {
    position: fixed;
    right: -100%;
    top: 0;
    height: 60vh;
    width: 50%;
    background-color: #091523;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 1.2em;
    transition: right 0.3s ease-in-out;
  }

  .nav-links.open {
    right: 0;
  }


  .hero-content h2 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .hero-content h2 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .hero-content p {
    font-size: 0.8rem;
  }

  .hero-content {
    position: absolute;
    bottom: 10%;
    width: 90%;
    text-align: center;
  }

  .nav-links {
    font-size: 1em;
  }

  .navbar {
    padding: 0 1em;
  }
}